#div1{
    text-align:center;
    background-color: bisque;
    width: 12%;
    margin-left: 43%;
    border-radius: 20px;
    height: 170px;
    margin-top: 10%;
}

#a{
   text-align:center;
    background-color: bisque;
    font-size: 130%;
    width: 12%;
    margin-left: 43%;
}